<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You got a new order from <%#= @user.name %>!</p>
    <p>
    Order details<br>
    --------------------------
    </p>
    <p>Name: <%#= @user.name %></p>
    <p>Email: <%#= email %></p>
    
    <p>
    Message:<br>
    ----------
    </p>
  
  </body>
</html>